@import './../../../assets/styles/variables.scss';
header{
    display: flex;
    flex-direction: column;
    .title-nav{
        display: flex;
        flex-direction: column;
    }
    img{
        display: none;
    }
    img.avatar{
        width: 5rem;
        cursor: pointer;
        transform: rotate(0) scale(1, 1);
        transition: all .1s;
        padding-right: 1rem;
    }
    img.over{
        transform: rotate(10deg) scale(1.2, 1.2);
    }
    h1{
        font-family: 'Bangers';
        margin-bottom: 0;
        cursor: pointer;
    }
    nav, h1{
        color: #FFF;
        display: inline-block;
    }
    ul{
        display: flex;
        flex-direction: row;
        padding-inline-start: 0;
        margin-bottom: 0;
        li{
            display: inline-block;
            list-style-type: none;
            padding: 0 1rem;
        }
    }
    a{
        color: #FFF;
    }
    a:hover{
        text-decoration: none;
        color: #FF0;
    }
    
}
.sticky{
    position: fixed;
    top: 0;
    background: $baseColor;
    background: linear-gradient(90deg, rgba(51,0,153,1) 0%, rgba(82,23,201,1) 90%, rgba(82,23,201,0) 100%);
    overflow: hidden;
    z-index: 10;
    width:inherit;
    max-width:inherit;
  }
.profile{
    border-radius: .5rem;
    background-color: #FFF;
    padding: .5rem 2rem;
    position: absolute;
    top: 5rem;
    z-index: 1;
}

@media (min-width: 576px) {
}
  
@media (min-width: 768px) {
    header{
        flex-direction: row;
        .title-nav{
            flex-direction: row;
        }
        img{
            display: block;
        }
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
}

@media (min-width: 1520px) {
}

@media (min-width: 1920px) {
}