<div *ngIf="!fullView" class="profile-wrapper">
    <div>ID: {{curentUser.user}}</div>
    <div>Nickname: {{curentUser.nick}}</div>
    <div>Color: #{{curentUser.color}}</div>
</div>


<div *ngIf="fullView" class="join-board-wrapper">
    <form [formGroup]="modUserForm" #userAdd="ngForm" (ngSubmit)="onSubmit()" class="container">
        <div class="row no-gutters">
            <div class="col-12 col-md-8 left-side">
                <div class="row">
                    <div class="col-12">
                        <label>Email:</label>
                        <input type="text" name="email" formControlName="email" placeholder="email" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <label>Nick Name:</label>
                        <input type="text" name="nickname" formControlName="nickname" placeholder="nickname" />
                    </div>
                    <div class="col-4">
                        <label>Middle Name:</label>
                        <input type="text" name="middlename" formControlName="middlename" placeholder="middle name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>First Name:</label>
                        <input type="text" name="firstname" formControlName="firstname" placeholder="first name" />
                    </div>
                    <div class="col-6">
                        <label>Last Name:</label>
                        <input type="text" name="lastname" formControlName="lastname" placeholder="last name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Title:</label>
                        <input type="text" name="title" formControlName="title" placeholder="title" />
                    </div>
                    <div class="col-6">
                        <label>Dirthday:</label>
                        <input type="text" name="dob" formControlName="dob" placeholder="d.o.b." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Animal:</label>
                        <select name="avatar" formControlName="avatar" (change)="setAvatar($event)">
                            <option *ngFor="let animal of animals" [value]="animal">{{animal | uppercase}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label>Color:</label> 
                        <select name="color" formControlName="color" [ngStyle]="{'background-color':'#'+colors[selectedColor].code}" (change)="setColor($event)">
                            <option *ngFor="let color of colors; let i = index" [value]="i" [ngStyle]="{'background-color':'#'+color.code,'color':'#'+color.code}">{{color.color}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Brief Description:</label>
                        <textarea cols="50" rows="5" name="description" formControlName="description" placeholder="description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Image Link:</label>
                        <input id="photo" name="myimage" type="file" (change)="setPhoto($event)">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 right-side">
                <img [src]="'/assets/images/avatar/strawbag-'+selectedAnimal+'.png'" class="avatar-image">
            </div>
            
        </div>
        <div class="row">
            <div class="col-12 text-center bottom-button-wrapper">
                <input type="submit" name="submit" class="btn-submit" />
            </div>
        </div>
    </form>
</div>
<!-- firstname, lastname, email, middlename, nickname, title, dob, avatar, color, image, description -->