.user-info{
    font-size: 1.2rem;
    font-family: 'Bangers';
    color: #FFF;
    // .logout{
    //     cursor: pointer;
    //     padding: 0.1rem 1rem;
    //     border: 2px #FFF solid;
    //     border-radius: 0.5rem;
    // }
    // .logout:hover{
    //     background-color: rgb(177, 134, 17);
    // }
}
.input-area{
    // border-radius: 0.5rem;
    // background-color: rgb(255, 197, 38);
    // padding: 0.5rem;
    // filter: drop-shadow(0.5rem 0.5rem 0 #000);
    input{
        margin-right: 0.5rem;
        height: 2rem;
    }
    // transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    // transition: all 2s;
    // transition-duration: .5s;
    // &.shake{
    //     padding-left:3rem;
    // }
}