.user-info{
    color: #FFF;
    .profile{
        padding-right: 0.5rem;
        cursor: pointer;
        &:hover{
            color: #FF0;
            text-decoration: underline;
        }
    }
}
.input-area{
    display: flex;
    flex-direction: row;
    input{
        margin-right: 0.5rem;
        height: 2rem;
    }
}