@import 'imageOutterWhite.scss';
@import 'userFeed.scss';

label{
    display: block;
}

textarea, input, select{
    border-radius: 0.5rem;
    border: 0;
    padding: 0.5rem;
    margin-bottom: 0.5rem!important;
    font-size: 1rem;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-submit{
    position: relative;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    transform: rotate(0);
    font-family: 'Bangers';
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    background-color: $baseColor;
    color: #FFF;
    transition: all 0.1s;
    filter: drop-shadow(0.3rem 0.2rem 0 #000);
}
.btn-submit:hover{
    top: -2px;
    left: -3px;
    transform: rotate(-2deg);
    filter: drop-shadow(0.9rem 0.5rem 0 #000);
}

.btn-framed{
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #FFF;
    font-family: 'Bangers';
    padding: 0.1rem 1rem;
    border: 2px #FFF solid;
    border-radius: 0.5rem;
    transition: all 0.1s;
    background-color: transparent;
}
.btn-framed:hover{
    background-color: rgb(177, 134, 17);
    top: -1px;
    left: -2px;
}
.btn-framed-dark{
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    color:$baseColor;
    font-family: 'Bangers';
    padding: 0.1rem 1rem;
    border: 2px$baseColor solid;
    border-radius: 0.5rem;
    transition: all 0.1s;
    background-color: transparent;
}
.btn-framed-dark:hover{
    color: #FFF;
    background-color:$baseColor;
    top: -1px;
    left: -2px;
}

.btn-edit{
    position: relative;
    top: 0;
    left: 0;
    max-width: 8rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: #003991;
    color: #FFF;
    font-family: 'Bangers';
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
    filter: drop-shadow(0.2rem 0.1rem 0 rgba(0,0,0,0.5));
    &::after{
        content:'EDIT';
    }
}
.btn-edit:hover{
    top: -1px;
    left: -2px;
    color: #FFFA4e;
    filter: drop-shadow(0.3rem 0.2rem 0 rgba(0,0,0,0.5));
}
.btn-delete{
    position: relative;
    top: 0;
    left: 0;
    max-width: 2rem;
    padding: 0.35rem 0.2rem;
    margin-left: 0.2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: #F00;
    color: #FFF;
    font-family: 'Bangers';
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
    filter: drop-shadow(0.2rem 0.1rem 0 rgba(0,0,0,0.5));
}
.btn-delete:hover{
    top: -1px;
    left: -2px;
    filter: drop-shadow(0.3rem 0.2rem 0 rgba(0,0,0,0.5));
}
.btn-cancel{
    position: relative;
    top: 0;
    left: 0;
    max-width: 8rem;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    border: 2px solid #003991;
    color: #003991;
    font-family: 'Bangers';
    text-align: center;
    transition: all 0.1s;
    cursor: pointer;
    &::after{
        content:'CANCEL';
    }
}
.btn-cancel:hover{
    top: -1px;
    left: -2px;
    background-color: rgba(255,200,0,0.5);
}